{% extends "base-noindex.html" %}
{% block meta_data %}
{% endblock meta_data %}
{% block content %}
{# true, если среди article.categories есть категория с title == "Интервью" #}
{% set is_interview = article.categories
  | selectattr('title', 'equalto', 'Интервью')
  | list
  | length > 0 %}

{% if is_interview %}
  {% include 'special_header.html' %}
  <main class="article-interview-layout" id="main" tabindex="-1">
    {% include 'interview_article.html' %}
  </main>
{% else %}
  {% include 'header_small.html' %}
  <main class="article-interview-layout" id="main" tabindex="-1">
    {% include 'default_article.html' %}
  </main>
{% endif %}
{% include 'footer.html' %}
{% endblock content %}
{% block scripts %}
<script type="module" crossorigin src="/static/scripts/main.js"></script>
{% endblock scripts %}
