<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta_data %}
        <title>NB ᐈ Новости Казахстана на сегодня</title>
      {% endblock meta_data %}
    <meta name="robots" content="noindex, nofollow" />
    <script>
        try {

            //отложеная загрузка медленного внешнего JS
            let isDeferredScriptsInitialized = false;
            window.deferredScripts = window.deferredScripts || [];

            function addDeferredScript(callback){
                //если инициализация уже прошла, то просто выполняем
                if (isDeferredScriptsInitialized) {
                    callback();
                    return;
                }

                window.deferredScripts = window.deferredScripts || [];
                window.deferredScripts.push(callback);
            }

            function initDeferredScript() {
                if (isDeferredScriptsInitialized === false) {
                    isDeferredScriptsInitialized = true;
                    window.deferredScripts.forEach(callback => callback());

                    setTimeout(() => {
                        window.removeEventListener('scroll', initDeferredScript, false);
                        window.removeEventListener('click', initDeferredScript, false);
                        window.removeEventListener('mousemove', initDeferredScript, false);
                        window.removeEventListener('touchstart', initDeferredScript, false);
                        window.removeEventListener('keydown', initDeferredScript, false);
                    }, 100);
                }
            }

            window.addEventListener('scroll', initDeferredScript, {passive: true});
            window.addEventListener('click', initDeferredScript, {passive: true});
            window.addEventListener('mousemove', initDeferredScript, {passive: true});
            window.addEventListener('touchstart', initDeferredScript, {passive: true});
            window.addEventListener('keydown', initDeferredScript, {passive: true});

            setTimeout(initDeferredScript, 7000);
        } catch {}
    </script>
    <link rel="preload" href="/static/css/main.css?v=1.7" as="style">
    <link rel="stylesheet" href="/static/css/main.css?v=1.7" />
    <link rel="preload" href="/static/css/fonts.css?v=1.7" as="style">
    <link rel="stylesheet" href="/static/css/fonts.css?v=1.7">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/webmanifest.json">
    </head>
<body>
{% block content %}
{% endblock %}
{% block scripts %}

{% endblock scripts %}

  </body>
</html>
