{%if announce %}
<section class="subscriptionSection">
        <div class="container">
          <div class="subscription__wrap">
            <div class="subscription__img">
              <img src="{% if announce.image.image_800_webp %}{{ announce.image.image_800_webp }}{% else %}/static/img/plug.webp{%endif%}" alt="подписка" />
            </div>
            <div class="subscription__content">
              <a href="{{ url_for('announces') }}" class="subscription__title">
 Forbes {% if announce.type == 'Forbes Women'%}Woman{% endif %} Kazakhstan №{{ announce.number }} ({{ announce.published_date | announce_date }}) </a>
              <div class="subscription__desc"> Номер уже доступен по подписке </div>
              <div class="subscription__btn">
                <a href="{{ url_for('purchase') }}">Подписаться</a>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endif%}
